.requestByProvider {
  border-radius: 9px;
  background-color: #ffffff;
  padding: 24px 16px;
  margin-top: 24px;
}

.cardsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  margin-top: 16px;
  grid-row-gap: 16px;
}