.pickList {
  position: absolute;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #dad6e5;
  background-color: #ffffff;
  top: 60px;
  left: 0;
  box-sizing: border-box;
  text-align: left;
  height: 170px;
  overflow-y: auto;
  > div {
    padding: 12px 16px;
    display: flex;
    align-items: center;
  }

  >div:hover {
    background-color: #f3f7ff;
  }

  >div >img {
    width: 24px;
    height: 16px;
    margin-right: 12px;
  }
}